<div class="sortby-section">
  <span class="sortby-label">Sort by:</span>
  <label for="most_recent">
    <input
      type="radio"
      name="sortby"
      id="most_recent"
      [value]="options.MOST_RECENT"
      [(ngModel)]="sortby"
      (change)="handleChange()"
    />
    <span class="radio-filter">Most recent</span>
  </label>
  <label for="lowest_price">
    <input
      type="radio"
      name="sortby"
      id="lowest_price"
      [value]="options.LOWEST_PRICE"
      [(ngModel)]="sortby"
      (change)="handleChange()"
    />
    <span class="radio-filter">Lowest price</span>
  </label>
  <label for="highest_price">
    <input
      type="radio"
      name="sortby"
      id="highest_price"
      [value]="options.HIGHEST_PRICE"
      [(ngModel)]="sortby"
      (change)="handleChange()"
    />
    <span class="radio-filter">Highest price</span>
  </label>
</div>
