<section class="app-main__banner-section">
  <!-- <img src="/assets/images/header.png" />
  <div class="container" [ngStyle]="{ position: 'relative' }">
    <h1 class="app-main__title">Electronics</h1>
  </div> -->
  <div
    class="banner__cover-img"
    [ngStyle]="{
      backgroundImage: 'url(/assets/images/header.png)'
    }"
  >
    <div class="app-main__title-section">
      <div class="fluid-container">
        <h1 class="app-main__title">Electronics</h1>
      </div>
    </div>
  </div>
</section>
