.app-main__banner-section {
  background-color: #0ad4fa;
  margin-bottom: 4.0625rem;
  margin-top: 80px;
}

.app-main__title {
  font-size: 3.5rem;
  font-weight: 600;
  color: white;
}

.banner__cover-img {
  min-height: 45vh;
  background-size: cover;
  background-position: right bottom;
  position: relative;
}
.app-main__title-section {
  display: flex;
  align-items: flex-end;
  min-height: 45vh;
  padding-bottom: 2rem;
}
