<div *ngIf="loading">
  <h3>We are processing your transaction</h3>
  <div style="padding: 8rem 4rem">
    <nz-spin size="large" nzTip="Please wait..."></nz-spin>
  </div>
</div>

<div *ngIf="!loading">
  <h3>Add more points to your account</h3>
  <nz-alert
    nzType="info"
    nzMessage="For this sample project you can only add by 1000, 5000 or 7500 at a time."
    nzShowIcon
    [ngStyle]="{ textAlign: 'center' }"
  ></nz-alert>
  <div class="form-container">
    <div class="form-control">
      <label for="1000">
        <input
          type="radio"
          name="quantity"
          id="1000"
          value="1000"
          [(ngModel)]="amountSelected"
        />
        <span class="radio-filter">
          {{ 1000 | number: "":"es-AR" }}
          <svg-icon name="coin" [size]="24"></svg-icon>
        </span>
      </label>
      <label for="5000">
        <input
          type="radio"
          name="quantity"
          id="5000"
          value="5000"
          [(ngModel)]="amountSelected"
        />
        <span class="radio-filter">
          {{ 5000 | number: "":"es-AR" }}
          <svg-icon name="coin" [size]="24"></svg-icon>
        </span>
      </label>
      <label for="7500">
        <input
          type="radio"
          name="quantity"
          id="7500"
          value="7500"
          [(ngModel)]="amountSelected"
        />
        <span class="radio-filter">
          {{ 7500 | number: "":"es-AR" }}
          <svg-icon name="coin" [size]="24"></svg-icon>
        </span>
      </label>
    </div>
  </div>
  <button
    class="btn"
    *ngIf="amountSelected; else defaultBtn"
    (click)="addPoints()"
  >
    Add {{ amountSelected | number: "":"es-AR" }} points to your account!
  </button>
  <ng-template #defaultBtn>
    <button class="btn-default">Choose one option!</button>
  </ng-template>
</div>
